<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>simplefw</display-name>
  
  <servlet>
  	<servlet-name>dispatcher</servlet-name>
  	<servlet-class>fw.mvc.DispatcherServlet</servlet-class>
  	<init-param>
  		<param-name>prev-package</param-name>
  		<param-value>sample.guestbook</param-value>
  	</init-param>
  	<init-param>
  		<param-name>resource-dir</param-name>
  		<param-value>/resources</param-value>
  	</init-param>  	
  </servlet>
  <servlet-mapping>
	  <servlet-name>dispatcher</servlet-name>
	  <url-pattern>/*</url-pattern>
  </servlet-mapping>
 
</web-app>
